{% extends 'index.html' %}

{% block content %}
<div class="doc">
<div class="menu">
	<ul>
		<a href="/SYMBOL/{{symbol}}"><li class="menu_btn" id="c1">Home</li></a>
		<a href="/SYMBOL/{{symbol}}/Analysis"><li class="menu_btn" id="c2">Analysis</li></a>
		<a href="/SYMBOL/{{symbol}}/Predict"><li class="menu_btn" id="c3">Predict</li></a>
		<a href="/SYMBOL/{{symbol}}/Twitter"><li class="menu_btn" id="c4">Twitter</li></a>
		<a href="/SYMBOL/{{symbol}}/News"><li class="menu_btn" id="c5">News</li></a>
		<a href="/SYMBOL/{{symbol}}/Others"><li class="menu_btn" id="c6">Other Indicators</li></a>
	</ul>
</div>
<div class= "visual">
	<div class="graph_title">
		<div><span id="sym_title" style="font-size: 32px">NASDAQ:{{symbol}}</span><span style="float: right;"><a href="/SYMBOL/{{symbol}}/Updatedata" class="update">Update</a></span></div><br> <div><span><b style="font-size: 28px">{{last_price}} USD </b>
			{% if change > 0 %}
				<span style="font-size: 18px; color:green">{{change}} ({{per}}%)</span>
			{% else %}
				<span style="font-size: 18px; color:red">{{change}} ({{per}}%)</span>
			{% endif %}
			
			</div> <div>Closed: {{close_date}}</div>
	</div>

	<div id="graph"></div>

	<script>

  var temp =window.localStorage.newdat;
  var temp1 =temp.split(',');
  var trace = {
  x: temp1,
  close: {{close}},
  high: {{high}},
  low: {{low}},
  open: {{open}},

  // cutomise colors
  increasing: {line: {color: 'green'}},
  decreasing: {line: {color: 'red'}},
//TODO add ohlc type also
  type: ''candlestick'',
  xaxis: 'x',
  yaxis: 'y'
};

var data = [trace];

var layout = {
  dragmode: 'zoom',
  showlegend: false,
  xaxis: {
    autorange: true,
    title: 'Date',
	 rangeselector: {
        x: 0,
        y: 1.2,
        xanchor: 'left',
        font: {size:15},
        buttons: [{
            step: 'day',
            stepmode: 'backward',
            count: 5,
            label: ' 5 days '
        }, {
            step: 'month',
            stepmode: 'backward',
            count: 1,
            label: ' 1 month '
        }, {
            step: 'month',
            stepmode: 'backward',
            count: 6,
            label: ' 6 months '
        }, {
            step: 'year',
            stepmode: 'todate',
            count: 1,
            label: ' YTD '
        }, {
            step: 'year',
            stepmode: 'backward',
            count: 1,
            label: ' 1 year '
        }, {
            step: 'all',
            label: ' Max '
        }]
      }
  },
  yaxis: {
  	title:'Close price',
    autorange: true,
  }
};

Plotly.plot('graph', data, layout);

	</script>
</div>
</div>


{% endblock %}
