<!DOCTYPE html>
<html>
<title>Predict Me</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% load static %}
<link rel="stylesheet" href="{% static "css/all.css"%}">
<link rel="stylesheet" href="{% static "css/main.css"%}">
<script src="{% static "js/jquery-3.3.1.slim.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>

<body>
<header></header>
<div class="main">
  <form id="search-stock" class="search-box" style="width:300px;" onsubmit="getSymbol()">
            <input type="text" id="myInput" placeholder="Enter Company Symbol" class="search-txt" name="symbol">
            <a  class="search-btn" onclick="getSymbol()">
                    <i class="fas fa-search"></i>
            </a>         
  </form>
</div>
<div class="line"></div>
<div class="doc">
<div class="menu">
	<ul>
		<a href="/SYMBOL/{{symbol}}"><li class="menu_btn" id="c1">Home</li></a>
		<a href="/SYMBOL/{{symbol}}/Predict"><li class="menu_btn" id="c2">Predict</li></a>
		<a href="/SYMBOL/{{symbol}}/Twitter"><li class="menu_btn" id="c3">Twitter</li></a>
		<a href="/SYMBOL/{{symbol}}/News"><li class="menu_btn" id="c4">News</li></a>
		<a href="/SYMBOL/{{symbol}}/Others"><li class="menu_btn" id="c5">Other Indicators</li></a>
	</ul>
</div>
<div class= "visual">
	<div class="graph_title">
		<div id="sym_title" style="font-size: 32px">NASDAQ:{{symbol}}</div><br> <div><span><b style="font-size: 28px">{{last_price}} USD </b>
			{% if change > 0 %}
				<span style="font-size: 18px; color:green">{{change}} ({{per}}%)</span>
			{% else %}
				<span style="font-size: 18px; color:red">{{change}} ({{per}}%)</span>
			{% endif %}
			
			</div> <div>Closed: {{close_date}}</div>
	</div>
	<iframe width="900" height="600" frameborder="0" scrolling="no" src="//plot.ly/~glinzac/12.embed"></iframe>
</div>
</div>

<footer></footer>
</body>
</html>