<!DOCTYPE html>
<html>
<title>Predict Me</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
{% load static %}
<link rel="stylesheet" href="{% static "css/font-awesome.min.css"%}">
<link rel="stylesheet" href="{% static "css/all.css"%}">
<link rel="stylesheet" href="{% static "css/main.css"%}">
<script src="{% static "js/jquery-3.3.1.slim.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>

<body>
<header></header>
<div class="main">
  <form id="search-stock" class="search-box" style="width:300px;" onsubmit="getSymbol()">
            <input type="text" id="myInput" placeholder="Enter Company Symbol" class="search-txt" name="symbol">
            <a  class="search-btn" onclick="getSymbol()">
                    <i class="fas fa-search"></i>
            </a>         
  </form>
</div>
<div class="line"></div>
<div class= "visual">
	<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~glinzac/12.embed"></iframe>
</div>
<footer></footer>
</body>
</html>