{% extends 'index.html' %}

{% block content %}
{% load static %}
<div class="doc">
<div class="menu">
	<ul>
		<a href="/SYMBOL/{{symbol}}"><li class="menu_btn" id="c1">Home</li></a>
		<a href="/SYMBOL/{{symbol}}/Analysis"><li class="menu_btn" id="c2">Analysis</li></a>
		<a href="/SYMBOL/{{symbol}}/Predict"><li class="menu_btn" id="c3">Predict</li></a>
		<a href="/SYMBOL/{{symbol}}/Twitter"><li class="menu_btn" id="c4">Twitter</li></a>
		<a href="/SYMBOL/{{symbol}}/News"><li class="menu_btn" id="c5">News</li></a>
	</ul>
</div>
<div class= "visual">
	
	<div class="graph_title">
	<style>
		table,td{
			padding: 6px 10px;
		}
		tr.twt{
 		 border-bottom:5px solid black ;
 		 box-shadow:0px 3px black;
		}
	</style>

	<table>
		<tr class='twt'>
			<td><b>DATE</b></td><td><b>NEWS</b></td>
		</tr>
     {% for i,j in final_items %}
		<tr class='twt'>
			<td>{{i}}</td>
			<td>
				<div style="font-size: 20px; font-family: Veranda;">
					<img src="{% static "images/news.png" %}" alt=""> 
					{{j}}
				</div>
			</td>
		</tr>
     {% endfor %}
 	</table>
 	<div style="height: 30px; width: 100%;"></div>
  </div>
</div>
</div>
<div style="height: 50px; width: 100%;"></div>

{% endblock %}