{% extends 'index.html' %}

{% block content %}
{% load static %}
<div class="doc">
<div class="menu">
	<ul>
		<a href="/SYMBOL/{{symbol}}"><li class="menu_btn" id="c1">Home</li></a>
		<a href="/SYMBOL/{{symbol}}/Analysis"><li class="menu_btn" id="c2">Analysis</li></a>
		<a href="/SYMBOL/{{symbol}}/Predict"><li class="menu_btn" id="c3">Predict</li></a>
		<a href="/SYMBOL/{{symbol}}/Twitter"><li class="menu_btn" id="c4">Twitter</li></a>
		<a href="/SYMBOL/{{symbol}}/News"><li class="menu_btn" id="c5">News</li></a>
	</ul>
</div>
<div class= "visual">
	<div style="margin-bottom: 50px; width: 95%;"><span style="float: right;"><a href="" class="update">Update</a></span></div>
	<div class="graph_title">
		<iframe src="{% static "/data.html" %}" height="500px;" width="95%;"></iframe>
	 	<div style="height: 30px; width: 100%;"></div>
  </div>
</div>
</div>
<div style="height: 50px; width: 100%;"></div>

{% endblock %}
