.main{
  padding-top: 40px;
}
.search-box
{
    /* top:50px;
    left: 50%;
    transform: translate(-50%,-50%); */
    background-color: #2f3640;
    border-radius: 40px;
    height: 40px;
    margin:auto;
    box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.63);
}
.search-btn:hover{
  color: white;
}

.search-btn
{
    color: #186be8;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt
{
    border: none;
    background: none;
    outline: none;
    float: left;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    padding: 15px;
    padding-top: 10px;
    padding-left: 26px;
}

html, body{
    height: 100%;


}

.line{
  background-color: #2f3640;
  border-radius: 40px;
  height: 5px; 
  margin-top: 40px;
}


.visual{
    margin-top: 20px;
    padding-top: 20px;
    border-width:5px;
    border-style:solid;
    border-color:#2eb9ce;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    width: 1201px;
    margin-right: auto;
    margin-left: auto;
    display: block;

}
.graph_title{
    width: 1150px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.menu{
    display: inline-block;
    position: relative;
    left: 22%;
}
.menu_btn{
    float: left;
    display: block;
    padding: 10px 40px;
    display: block;
    float: left;
    box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.33);
    margin-right: 15px;
    border-radius: 40px;
    background-color: #2f3640;
    color: white;
    font-weight: bold;
}
.update{
    box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.63);
    background-color: #2f3640;
    border-radius: 40px;
    height: 40px;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    top: 15px;
}

.update:hover,.menu_btn:hover{
    color:#2f3640;
    background-color: white;
}

.analysis-box{
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
}
.analysis-search-box{
    margin-top: 20px; 
    border-width: 5px;
    border-style: solid;
    border-color: #2eb9ce;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 15px;
/*    display: inline-grid;*/
    padding-top:150px;
}

.graph_analysis{
    width: 900px;
}

.visual_analysis{
    width: 900px;
/*    height: 500px;*/
    padding: 20px;

}

.analysis-search-txt{
    margin: 15px;
    width: 200px;
    padding: 5px

}

.analysis-btn{
    width: 200px;
    margin: 15px;
    border-radius: 40px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;

}
#iframe_content{
    /*padding: 0px;*/
    /*-webkit-transform:scale(0.5);
    -moz-transform-scale(0.5);*/
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 500px;
}