.main{
  padding-top: 40px;
}
.search-box
{
    /* top:50px;
    left: 50%;
    transform: translate(-50%,-50%); */
    background-color: #2f3640;
    border-radius: 40px;
    height: 40px;
    margin:auto;
}
.search-btn:hover{
  color: white;
}

.search-btn
{
    color: #186be8;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt
{
    border: none;
    background: none;
    outline: none;
    float: left;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    padding: 15px;
    padding-top: 10px;
    padding-left: 26px;
}

html, body{
    height: 100%;


}

.line{
  background-color: #2f3640;
  border-radius: 40px;
  height: 5px; 
  margin-top: 40px;
}


.visual{
    margin-top: 40px;
}
.graph_title{
    width: 850px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
iframe {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

